:root {
  /* Colors */
  --primary-100: hsl(227, 83%, 98%);
  --primary-200: hsl(227, 86%, 95%);
  --primary-300: hsl(228, 90%, 78%);
  --primary-400: hsl(228, 84%, 67%);
  --primary-500: #2e54ea;
  --primary-600: hsl(228, 67%, 49%);
  --primary-700: hsl(228, 67%, 44%);
  --primary-800: hsl(228, 67%, 33%);
  --primary-900: hsl(227, 68%, 22%);

  --accent-100: #fff;
  --accent-200: #fff;
  --accent-300: #fff;
  --accent-400: #fff;
  --accent-500: hsl(175, 85%, 69%);
  --accent-600: #fff;
  --accent-700: hsl(175, 62%, 54%);
  --accent-800: #fff;
  --accent-900: #fff;

  --gray-100: hsl(220, 40%, 99%);
  --gray-200: hsl(228, 20%, 92%);
  --gray-300: hsl(228, 22%, 80%);
  --gray-400: hsl(228, 20%, 70%);
  --gray-500: hsl(228, 12%, 50%);
  --gray-600: hsl(228, 17%, 40%);
  --gray-700: hsl(228, 13%, 35%);
  --gray-800: hsl(228, 15%, 28%);
  --gray-900: hsl(228, 15%, 20%);

  --red-100: hsl(349, 80%, 96%);
  --red-200: hsl(347, 92%, 89%);
  --red-300: hsl(349, 100%, 80%);
  --red-400: hsl(349, 100%, 70%);
  --red-500: hsl(347, 82%, 55%);
  --red-600: hsl(349, 100%, 42%);
  --red-700: hsl(349, 100%, 35%);
  --red-800: hsl(351, 100%, 30%);
  --red-900: hsl(353, 100%, 25%);

  --green-100: hsl(170, 56%, 95%);
  --green-200: hsl(170, 76%, 85%);
  --green-300: hsl(170, 66%, 70%);
  --green-400: hsl(170, 56%, 56%);
  --green-500: hsl(170, 56%, 41%);
  --green-600: hsl(170, 56%, 37%);
  --green-700: hsl(170, 56%, 30%);
  --green-800: hsl(170, 56%, 25%);
  --green-900: hsl(170, 56%, 20%);

  --yellow-100: hsl(39, 100%, 66%);
  --yellow-200: hsl(35, 100%, 66%);
  --yellow-300: yellow;
  /* z tego hue zielone zrobic */
  --yellow-400: hsl(161, 100%, 36%);
  /* to chyba bedzie dobry start dla zoltych */
  --yellow-500: hsl(45, 100%, 61%);
  --yellow-600: hsl(46, 100%, 66%);
  --yellow-700: yellow;
  --yellow-800: #fff;
  --yellow-900: hsl(11, 100%, 70%);

  --violet: #7b10c1;
  --violet-100: #f1d6f1;
  --violet-300: #9778a8;
  --violet-800: #3b2a45;
  --grey-200: #eae6ea;
  --grey: #b2a7b8;
  --blue-200: #7da3c0;
  --blue: #0080ff;
  --red: #b40000;
  --light: #f8f7f8;
  --white: #faf9f6;
  --borderRadius: 0.375rem;

  /* prettier-ignore */
  --shadow-elevation-medium:
    0px 0.3px 0.6px hsl(var(--shadow-color) / 0.2),
    0px 0.7px 1.4px -1.1px hsl(var(--shadow-color) / 0.19),
    0px 1.5px 3.7px -2.1px hsl(var(--shadow-color) / 0.18),
    0.1px 4px 9.2px -3.2px hsl(var(--shadow-color) / 0.17),
    0.2px 6px 15px -2.3px hsl(var(--shadow-color) / 0.16);

  --color-notice: hsl(235deg 100% 50%);
  --color-notice-bg: hsl(235deg 0% 100%);
  --color-warning: hsl(35deg 100% 46%);
  --color-warning-bg: hsl(40deg 100% 94%);
  --color-success: hsl(120deg 80% 35%);
  --color-success-bg: hsl(120deg 90% 96%);
  --color-error: hsl(345deg 100% 50%);
  --color-error-bg: hsl(350deg 90% 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline-color: var(--blue);
}

* {
  margin: 0;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
