.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0.5rem;
}

@media (min-width: 992px) {
  .layout {
    flex-direction: row;
    padding: 1rem 0.5rem;
  }
}

.main {
  flex-grow: 1;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 1rem;
}

@media (min-width: 992px) {
  .main {
    padding: 0 2rem 2rem;
  }
}
